body {
   background-image: url('../img/2.jpg');
   background-size: 100%;
}
.img-thumbnail {
    /* padding: 2.25rem; */
    /* background-color: #fff; */
    /* border: 1px solid #dee2e6; */
    background-color: black;
    border-color: green;
    border-radius: 25.25rem;
    max-width: 100%;
    height: auto;
}

p{
    color:white;
    font-size: large;
}